body{
    display: grid;
    height: 100vh;
    grid-template-rows: 80px 150px auto 180px;
}

main{
    /*background-color: aqua;*/
	position: relative;
}

article{
    background-color: #252837;
}

footer{
    background-color: #A44145;
}

#encabezado{
    z-index:3;
}

.calculadora_icono{
    width: 5px;
    height: 5px;
}

.box{
    width: 200px;
    height: 64px;
    text-align: center;

}

.creditos{
    color: whitesmoke;
    text-align: center;
}

.img_bg_1{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

#bg_principal{
  min-height: 100%;
  position: relative;
  padding: 0;
}

.titulo_main_index{
	padding-top:30px;
	text-align: center;
    color: beige;
}

.descripcion_main_index{
	align-items: center;
    padding-top:6px;
	/*background-color: gray;*/
}

.descripcion_box_main_index{
	padding-top:10px;
	padding-bottom: 10px;
    color: beige;
	/*background-color: blue;*/
}

/*.footer {color: #f6aad6;}
.header {color: #f6c3a6;}
.main {color: #176da9;}
.calculadora {color: #15978b;}
.calculadora {color: #77cf92;}*/

.boton_codigo{
    color: #252837;    
}

.descripcion_codigo{
    color: beige;   
}